:root{
  --neongreen: #39FF14;
}
body{
  height: calc(100vh - 16px);
  display: flex;
  flex-direction: column;
  font-family: monospace;
}

header{
  height: 10%;
  background: black;
}

main{
  flex: 1;
  max-height: 80%;
  display: flex;
  justify-content: space-between;
}

footer{
  height: 10%;
  background: black;
}

.stats-container{
  background: black;
  height: calc(100% - 16px);
  width: calc(33.33% - 4px);
  margin: 8px 0px 8px;
}

.table-container{
  background: white;
  border: solid thin lightgray;
  height: calc(100% - 16px);
  margin: 8px;
  overflow: auto;
}

table{
  width: 100%;
  text-align: center;
  font-size: larger;
  border-collapse: collapse;
}

th{
  height: 2em;
  border: solid thin lightgray;
} 

td{
  height:2em;
  border:solid thin lightgray;
}


.graph-container{
  background: black;
  height: calc(100% - 16px);
  width: calc(66.66% - 4px);
  margin: 8px 0px 8px; 
}

.graph{
  background: white;
  border: solid thin lightgray;
  height: calc(100% - 16px);
  margin: 8px;
}

.nav-bar{
  background: black;
  margin: 8px;
  height: calc(100% - 16px);
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo{
  Color:var(--neongreen);
  font-size: xx-large;
}

.nav-item{
  Color:var(--neongreen);
  font-size:large;
}