:root{
  --neongreen: #39FF14;
  --darkneongreen: rgb(0, 132, 0);
  --neonred: #ff5858;
  --darkneonred:#c20303; 
  --myBackground: white;
  --myMainColor: lightgray;

}

body{
  display: flex;
  flex-direction: column;
  font-family: arial;
}

header{
  height: 80px;
  background: var(--myMainColor);
  display: flex;
  align-items: center;
}

main{
  display: flex;
  justify-content: space-between;
  gap: 8px;
  height: calc(100vh - 146px);
  flex-direction: row;
}

footer{
  height: 50px;
  background: var(--myMainColor);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-bar{
  margin: 8px;
  height: calc(30px - 16px);
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo-container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  color: var(--darkneongreen);
  font-size: 200%;
  display: flex;
  align-items: center;
}

.nav-item{
  color: var(--darkneongreen);
  font-size:100%;
}

.footer-container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  margin: 8px;
}

.footer-element{
  Color:var(--darkneongreen);
  font-size:100%;
}

a{
  text-decoration: none;
  color: var(--darkneongreen);
}

a:visited {
  Color:var(--darkneongreen);
  font-size:large;
}